<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>IPTell.io - Simple, fast APIs to do useful things with IP Addresses</title>

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="github.css"> -->
    <link rel="stylesheet" href="stylesheets/site.css">
  </head>
  <body>
    <div class="container">
      <div class="masthead">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a href="/">Home</a></li>    <li><a href="docs/">Docs</a></li>  </ul>
  <h3><a href="/"><img src="images/logo.svg" class="logo"> IPTell.io</a></h3>
</div>

<div class="hero-unit">
  <img src="images/logo.svg" class="logo">
  <h1>IPTell.io</h1>
  <p>Simple, fast APIs to do useful things with IP Addresses</p>
</div>

<div class="row brochure">
    {{ content }}
</div>

    <div class="footer">
    </div>

    </div>
  </body>
</html>
